<div class="homepage-blog" ng-controller="lifeTreksHomePageBlog">
		<div class="row">
			<div class="col-md-9">
				<H2>{{blog.title}}</H2>
			</div>
			<div class="col-md-3">
				{{blog.date}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12">
				{{blog.content}}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-1">
				Tags: 
			</div>
			<div ng-repeat="tag in blog.tags">
				<div class = "col-md-1">
					<a href="tag.link">
						{{tag.name}}
					</a>
				</div>
			</div>
		</div>
		<hr>
		<br>
		<H3 align="center">Previous Posts</H3>
		<div ng-repeat="preview in blogPreviews">
			<div class="blogPreviews">
				<div class="col-md-10">
					<H4>{{preview.title}}</H4>
					<h6>{{preview.date}}</h6>
					<h6>{{preview.content}}</h6>
				</div>
				<div class="col-md-2 text-right">
					<button type="button" class="btn btn-default" style="vertical-align: bottom;">See more</button>
				</div>
			</div>
			<br>
			<hr>
		</div>


		<div class="row">
			<div class="col-md-12">
				<H3>Comments</H3>
				<input type="text" name="title">
				<input type="text" name="commentfield">
				<input type="submit" value="Submit"><H4>Submit</H4>
			</div>
		</div>
		<div ng-repeat="comment in blog.commentlist">
			<div class="row">
				<div class="col-md-9">
					{{comment.title}}
				</div>
				<div class="col-md-3">
					{{comment.date}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{comment.body}}
				</div>
			</div>
		</div>
	</div>
