<div class="homepage-blog" ng-controller="lifeTreksVideoBlog">
	<div ng-repeat="blog in blogroll">
		<div class="row">
			<div class="col-md-12">
				{{blog.title}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<iframe width="560" height="315" ng-src="{{getIframeSrc(blog.url)}}" frameborder="0" allowfullscreen></iframe><!-- embed youtube url -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{blog.tags}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<H3>Comments</H3>
				<input type="text" name="title">
				<input type="text" name="commentfield">
				<input type="submit" value="Submit"><H4>Submit</H4>
			</div>
		</div>
		<div ng-repeat="comment in blog.commentlist">
			<div class="row">
				<div class="col-md-9">
					{{comment.title}}
				</div>
				<div class="col-md-3">
					{{comment.date}}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{comment.body}}
				</div>
			</div>
		</div>
	</div>
</div>