# Node
node_modules/
.env
*.pid

# Build files
bundle.js
vendor.bundle.js
*.map
dist/server/index.js
dist/server/formatQuery.js
dist/server/db.js

# Python
*.pyc

# OSX
.DS_Store

# Misc
mynotes
autotrack/
