<!DOCTYPE html>
<html>
    <head>
    	<!-- meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Life Treks Admin</title>

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

         <!-- javascript -->
        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        
        <script src="/js/adminapp.js"></script>
    </head>
    <body ng-app="adminApp" ng-controller="adminController" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="row col-md-12">
                        	<h3>This is the admin area!</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class = "col-md-6">
                            <p> Enter a new admin User name:</p>
                            <input id="newAdminName" type="text">
                            <p>and password:</p>
                            <input id="newAdminPass" type="text">
                            <button ng-click="submitNewAdmin()"> Submit </button>
                            <div>{{successDialog}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Delete entry by name</p>
                            <input id="deleteUserName" type="text">
                            <button ng-click="deleteAdmin()">Delete</button>
                            <p>{{deleteDialog}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button ng-click="getAdminList()">Get list</button>
                            <div ng-repeat="obj in currentAdmins">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{obj.name}}
                                    </div>
                                    <div class="col-md-6">
                                        {{obj.password}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Delete blogpost by name</p>
                            <input id="deleteBlog" type="text">
                            <button ng-click="deleteBlog()">Delete</button>
                            <p>{{deleteBlogDialog}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button ng-click="getBlogList()">Get blog list</button>
                            <div ng-repeat="obj in currentBlogs">
                                <div class="row">
                                    <div class="col-md-6">
                                        {{obj.blog}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h3>New Blog Post</h3>
                        <p>Blog Title: <input id="blog-title" type="text"></p>
                    </div>
                    <div class="row">
                        <p>Blog Content</p>
                        <input id="blog-content" type="text" style="width: 100%; padding: 0 5px 400px">
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Blog Tags: <input id="blog-tags" type="text"></p>
                        </div>
                        <div class="col-md-6">
                            <button ng-click="SubmitPost()" style="float: right;">Submit</button>
                        </div>
                    </div>
                    {{blogSuccess}}
                </div>
            </div>
        </div>
    </body>
</html>












