
.three-container {
    background: #cfcfcf;
    display: inline-block;
    width: 100%;
    height: 600px;
}

.mui-button {
    background: #fff;
    border: 0;
    color: #000;
    font-family: monospace;
    font-size: 12pt;
    height: 50px;
    margin-left: 20%;
    transition: .3s;
    width: 45%;

    &:hover {
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .3);
        cursor: pointer;
        transform: scale(.97);
    }
}
