@import './../../constants';

.three-container {
    background: $grey;
    display: inline-block;
    height: 600px;
    width: 100%;
}

.mui-button {
    background: $white;
    border: 0;
    color: $black;
    font-family: monospace;
    font-size: 12pt;
    height: 50px;
    margin-left: 20%;
    transition: .3s;
    width: 45%;

    &:hover {
        box-shadow: 0 0 12px 0 $shadow;
        cursor: pointer;
        transform: scale(.97);
    }
}
