@import './../../constants';

p {
    margin-bottom: 10px;
    width: 100%;
}

.nav-main {
    padding-left: 0
}

.nav-main-item {
    display: inline-block;
}

.nav-sub-main {
    padding-left: 20px;
}

.nav-sub-item {
    display: inline-block;
}

i {
    font-size: 16px;
    margin-right: 5px;
    transition: 0.2s;
}

.nav-open-section {
    transform: rotateZ(90deg);
}
