@import './../../_constants.scss';

.glyphicon {
    font-size: 10px;
}

.date-list {
    margin-left: 30px;
}

.blog-nav-title {
    border-bottom: 1px solid $black;
}

ul {
    margin-top: 10px;
    padding-left: 10px;
}
