$black: #000;

.chart-axis-shape {
  fill: none;
  shape-rendering: crispEdges;
  stroke: $black;
  stroke-width: 1px;
}

.chart-axis-shape > g > line {
  stroke-opacity: 0.2;
}

.chart-axis-shape > g > text {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  stroke: none;
}
