.tag {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 15em;
    margin-bottom: 15em;
}

a {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
