.social-media-icons {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;

    a {
        font-size: 14pt;
        margin-right: 15px;
    }
}

// This allows screen readers to see where the page content actually starts.
.start-of-content {
    display: none;
}
