<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Cyrille Gindreau</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Blog <span class="sr-only">(current)</span></a></li>
                <li><a href="#demo">Demo</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>

        <div class="social-media-icons">
            <a href="https://www.facebook.com/cyrille.gindreau">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/cyrillegin">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/cyrille-gindreau-77008417">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/cyrillegin/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/cyrillegin">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UClilh8MFZoV8M2tqwPmAAEA">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
