.header{
	background-color: #6b8e23;
}

.mainmenu{
	background-color: #69db84;
}

.homemenu{
	background-color: #5ea1d4;
}

.homecontent{
	background-color: #19c8a6;
}

.footer{
	background-color: #cf0038;
}