.life-treks-main{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 3px;
}

.header{
    line-height: 100px;
    height: 100px;
    
}

.blogPreviews{
    padding-bottom: 10px;
    line-height: 97px;
    height:97px;
    overflow: hidden;
    /*border-style: solid;
    border-width: 1px;
    border-color: #e2e2e2;*/
}

.backgroundImage{
    position: absolute;
}


.mainmenu{
	background-color: #69db84;
}

.homecontent{
	background-color: #19c8a6;
}

.footer{
	background-color: #cf0038;
}





/*bootstrap modifications*/
.panel{
    border: 0;
    background-color: transparent;
}