@import './../../../../constants';

.controls-section {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    width: 49%;
}

.controls-input {
    padding: 8px;
}

.controls-section-hidden {
    display: none;
}

.controls-label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 8px;
    width: auto;

    i {
        border: solid $black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transition: .2s;
    }

    .down {
        transform: rotate(45deg);
    }

    .controls-icon-hidden {
        transform: rotate(-45deg);
    }
}

.controls-number-input {
    width: 60px;
}

.controls-slide-input {
    vertical-align: middle;
    width: 220px;
}

.hidden {
    display: none;
}
