$light-green: #dcffdc;

.dragonfly-root {
  margin: 5rem auto;
  width: 70%;

  .description-container {
    line-height: 1.6em;
    text-align: justified;
  }

  img {
    float: right;
    margin: 24px 0 0 14px;
    width: 53%;
  }

  .demo-container {
    display: flex;
    flex-grow: 1;
    height: 750px;
    margin-bottom: 4rem;
  }

  .full-paper {
    padding: 16px;
    transition: 500ms;
    width: 100%;
  }

  .left-paper {
    padding: 16px;
    transition: 500ms;
    width: 33%;
  }

  .right-paper {
    margin-left: 16px;
    padding: 16px;
    transition: 500ms;
    width: 100%;
  }

  .text-field {
    width: 100%;
  }

  .selected-plugin {
    background: $light-green;
  }
}
