<div class="login-main">

    <div class="flip-container">
        <div class="flipper" id="myCard">
            <div class="front">
                <!-- The front of the card -->
                <div class="card">
                    <p>
                        <h2>Login</h2>
                    </p>
                    <hr />
                    <div class="warning" id="incorrect-warning"> </div>
                    <p>
                        <h4>Username</h4>
                        <input type="text" ng-model="username" class="form-control" id="user-name" placeholder="Username" aria-label="Username" />
                        <div class="warning" id="user-warning"> </div>
                    </p>
                    <p>
                        <h4>Password</h4>
                        <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password" aria-label="Password" />

                    </p>
                    <p>
                        <button class="button" ng-click="submitLogin()">Submit </button>
                    </p>
                </div>

            </div>

            <!-- The back of the card -->
            <div class="back">
                <div class="card">
                    <p>
                        <h2>New Blog Post</h2>
                    </p>
                    <hr />
                    <p>
                        <h4>Title</h4>
                        <input type="text" ng-model="blogTitle" class="form-control" placeholder="Blog Title" aria-label="Blog title" />
                    </p>
                    <p>
                        <h4>Body</h4>
                        <textarea type="text" ng-model="blogBody" class="form-control" placeholder="Body" aria-label="Blog body" rows="10"></textarea>
                    </p>
                    <p>
                        <h4>Tags</h4>
                        <input type="text" ng-model="blogTags" class="form-control" placeholder="Tags" aria-label="Blog tags" />
                    </p>
                    <p>
                        <button class="button" ng-click="submitBlog()">Submit</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
