<div class="login-main">
    <div class="card">
        <p>
            <h2>Login</h2>
        </p>
        <hr />
        <div class="warning" id="incorrect-warning"> </div>
        <p>
            <h4>Username</h4>
            <input type="text" ng-model="username" class="form-control" id="user-name" placeholder="Username" aria-label="Username">
            <div class="warning" id="user-warning"> </div>
        </p>
        <p>
            <h4>Password</h4>
            <input type="password" ng-model="password" class="form-control" id="password" placeholder="Password" aria-label="Password">
            
        </p>
        <p>
            <button class="button" id='login-btn' >Submit </button>
        </p>
    </div>
</div>
