@import './../../constants';

.login-main {
    margin: auto;
    width: 30%;
}

.warning {
    color: $red;
    margin: 5px;
}

.flip-container {
    margin-top: 48px;
    perspective: 1000px;
}

.flip {
    transform: rotateY(180deg);
}

.back,
.flip-container,
.front {
    height: 560px;
    width: 480px;
}

.flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: .6s;
}

.back,
.front {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
}

.front {
    transform: rotateY(0deg);
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}
