
<div class="homemenu" ng-controller="miniMenuController">
    Blog Archive:
    <div class="panel-group" id="DateAccordion">
        <div class="panel panel-default">
            <div ng-repeat="year in years">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <li data-toggle="collapse" data-parent="#DateAccordion" ng-click="ToggleYear(year)">{{year.Year}}</li>
                    </h4>
                </div>
                <div id="{{year.AccordianId}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="{{year.AccordianId}}">
                            <div class="panel panel-default">
                                <div ng-repeat="month in year.Months">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <li data-toggle="collapse" data-parent="#{{year.AccordianId}}" ng-click="ToggleMonth(month)">{{month.Month}}</li>
                                        </h4>
                                    </div>
                                    <div id="{{month.AccordianId}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="navbar" class="navbar-collapse collapse ">
                                                <ul class="nav navbar-nav">
                                                    <div ng-repeat="blog in month.Blogs">
                                                        <li>
                                                            <a ng-click="SelectBlog(blog.BlogId)">
                                                                {{blog.BlogId}}
                                                            </a>
                                                        </li>
                                                        <br>
                                                    </div>                        
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    Tags:
    <div class="panel-group" id="TagAccordion">
        <div class="panel panel-default">
            <div ng-repeat="tag in blogTags">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#TagAccordion" href="#{{tag.AccordianId}}">{{tag.tagname}}</a>
                    </h4>
                </div>
                <div id="{{tag.AccordianId}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="{{tag.AccordianId}}">
                            <div class="panel panel-default">
                                <div ng-repeat="blog in tag.blogs">
                                    <li>
                                        <a ng-click="SelectBlog(blog.BlogId)">
                                            {{blog.BlogId}}
                                        </a>
                                    </li>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







</div>


