.life-treks-main{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 3px;
}

.header{
    line-height: 100px;
    height: 100px;
    
}

.blogPreviews{
    padding-bottom: 10px;
    line-height: 97px;
    height:97px;
    overflow: hidden;
}

.backgroundImage{
    position: absolute;
}


.mainmenu{
}

.homecontent{
}

.footer{
    margin: 30px;
    font-size: 7pt;

}



/*html tag modification*/
li {
 list-style: none;
}


/*bootstrap modifications*/
.panel{
    border: 0;
    background-color: transparent;
}