<div class="homepage-blog" ng-controller="photoGalleryController">

	<!-- Modal content-->
	<div id="myModal" class="modal fade" style="height: 500px" ng-if="showmodal" role="dialog">
	<div class="modal-content">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<button type="button" class="photo-modal-prev" ng-click="mainPrev()"></button>
		<button type="button" class="photo-modal-next" ng-click="mainNext()"></button>
		<h4>{{selectedImage.location}}</h4>
		<h5>{{selectedImage.pubDate}}</h5>
		<img ng-src="{{selectedImage.high}}">
		</div>
	</div>

	<div ng-repeat="myRow in galleryRows">
		<div class="row">
			{{myRow.something}}
			<div ng-repeat="myImage in myRow.Columns">
				<div class="col-md-2">
					<img ng-src="{{myImage.thumb}}" ng-click="OpenModal(myImage)" type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Open Modal</img>
				</div>
			</div>
		</div>
	</div>
</div>