table {
    padding: 5px;
    width: 100%;
}

.canvas {
    height: 600px;
    width: 100%;
}

.menu-container {
    opacity: 0;
    transition: 1s;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.menu-container-active {
    opacity: 1;
}

.wire-frame-toggle {
    display: inline-block;
    line-height: 4;
    height: 32px;
    width: 200px;
}

.vertex-toggle {
    line-height: 4;
    display: inline-block;
    height: 32px;
    width: 200px;
}
