<div id="canvas" class="canvas" />
      
<div class="row menu-container" id="three-menu">
    <div class="col-md-2">
        <button class="mui-button" id="camera-front-button">front</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="camera-side-button">side</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="camera-45-button">45</button>
    </div>

    <div class="col-md-2">
        <div class="wire-frame-toggle">
            <input type="checkbox" id="shaded-toggle" />
            <label for="shaded-toggle">Toggle Shaded</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="wire-frame-toggle">
            <input type="checkbox" id="wire-frame-toggle" checked />
            <label for="wire-frame-toggle">Toggle wireframe</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="vertex-toggle">
            <input type="checkbox" id="vertex-toggle" checked />
            <label for="vertex-toggle">Toggle verticies</label>
        </div>
    </div>
</div>
