<div id="canvas" class="canvas" />
      
<div class="row menu-container" id="three-menu">
    <div class="col-md-2">
        <button class="mui-button" id="camera-front-button">front</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="camera-side-button">side</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="camera-45-button">45</button>
    </div>

    <div class="col-md-2">
        <button class="mui-button" id="shaded-toggle">Toggle shaded</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="wire-frame-toggle">Toggle wireframe</button>
    </div>
    <div class="col-md-2">
        <button class="mui-button" id="vertex-toggle">Toggle vertices</button>
    </div>
</div>
