$white: #fff;
$light-grey: #eee;
$grey: #ddd;
$black: #000;

$shadow: rgba(0, 0, 0, .3);
$shadow-one: rgba(0, 0, 0, .12);
$shadow-two: rgba(0, 0, 0, .24);

$blue: #2372ef;
$red: #f00;

$button-blue: #2b98f0;
$button-hover-blue: #3fa3f4;
