$black: #000;
$light-grey: #ddd;

.chart-axis {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
    stroke-width: 1px;

    line {
        stroke-opacity: .2;
    }
}

.tick {
    line {
        stroke: $light-grey;
    }
}

.library-description {
    padding: 10px;
    margin: 10px;
    ul {
        margin-left: 7px;
    }
}
