<footer class="footer navbar-bottom">
	<!-- <ul class="nav navbar-nav"> -->
    <div class="row">
        <div class="col-md-2"></div>
        
        <div class="col-md-1">
            <li><a class="hover" ng-click="menuBtn('homepage')">Home</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('theshow')">Video</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('photo')">Photo Library</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('theapp')">Software</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('thejourney')">The Journey</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('thewanderer')">Resume</a></li>
        </div>

        <div class="col-md-1">
            <li><a ng-click="menuBtn('contact')">Info</a></li> 
        </div>
        
        <div class="col-md-1">
            <li><a href="http://localhost:8080/admin">Admin</a></li> 
        </div> 
    </ul>
</footer>