<div class="mainmenu">
	<H1>This is the main menu</H1>
	<table>
		<tr>
			<td><button ng-click="menuBtn('homepage')">Home</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('theshow')">Video</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('photo')">Photo Library</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('theapp')">Software</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('thejourney')">The Journey</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('thewanderer')">Resume</button></td>
		</tr>
		<tr>
			<td><button ng-click="menuBtn('contact')">Info</button></td>
		</tr>
	</table>
</div>